<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MobGadgets Product</title>
    <link rel="stylesheet" th:href="@{~/css/mobgadgets_add_product.css}">
</head>
<body>
<div class="container">
    <div class="title">
        <h2>MobGadgets Product Adding Form</h2>
    </div>
    <div class="d-flex">
        <form th:method="post" th:action="@{/admin/saveproduct}" th:object="${add}" enctype="multipart/form-data">
            <input type="text" hidden="hidden" th:field="*{id}" th:value="${add.id}">
            <label>
                <span class="fname">Product Name <span class="required">*</span></span>
                <input type="text" placeholder="Name" th:field="*{productname}" th:value="${add.productname}">
            </label>
            <label>
                <span class="lname">Price <span class="required">*</span></span>
                <input type="text" placeholder="Price" th:field="*{price}" th:value="${add.price}">
            </label>
            <label>
                <span>Brand</span>
                <input type="text" placeholder="Brand" required th:field="*{brand}">
            </label>
            <label>
                <span>Quantity<span class="required">*</span></span>
                <input type="text" placeholder="Quantity" th:field="*{quantity}" th:value="${add.quantity}">
            </label>
            <label>
                <span>Color <span class="required">*</span></span>
                <input type="text" placeholder="Color" required th:field="*{color}">
            </label>
            <label>
                <span>Category<span class="required">*</span></span>
                <input type="text" placeholder="Category" required th:field="*{category}">
            </label>
            <label>
                <span>Description<span class="required">*</span></span>
                <input type="text" placeholder="Description" required th:field="*{description}">
            </label>
            <label>
                <span>Image<span class="required">*</span></span>
                <div class="file-input-container">
                    <label class="custom-file-upload" for="image">Add Image</label>
                    <input type="file" id="image" name="image" accept="image/*" required class="file-input">
                </div>
            </label>
            <label>
                <button type="submit">Add Product</button>
            </label>
        </form>
    </div>
</div>
</body>
</html>
