
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #333;
    background-size: cover;
    background-position: center;
    min-height:85vh;
}

.signup-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.signup-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input-container {
    margin-bottom: 20px;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input-container input {
    width: 100%;
    max-width: 350px; /* Adjust the maximum width of the input fields */
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    max-width: 350px; /* Adjust the maximum width of the button */
    padding: 12px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #004080;
}
.form-group {
    text-align: center;
    padding: 20px;
 margin:auto ;
}
